 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(222,59,116,0.65), rgba(222,59,116,0.65)), url("images/d5c67e99-2274-4f77-93f5-96e72193c074.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 511px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: "Single Day";
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  width: 839px;
  font-family: Comfortaa;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 238px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 237px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 591px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px 30px 28px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5625rem;
  font-weight: 700;
  font-family: "Single Day";
  margin: 87px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.4375rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 39px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.0625rem;
  font-family: Comfortaa;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 591px;
  --radius: 33px;
  background-image: url("images/320566234_1192220711705870_4504479276738891692_n.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-2 .u-image-1 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 373px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 411px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-gap: 10px 10px;
  min-height: 226px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/320566234_1192220711705870_4504479276738891692_n.jpg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: 135%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-2 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.6875rem;
  margin: 23px 0 0 8px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/WhatsAppImage2024-01-26at9.46.31PM.jpeg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: 135%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-4 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.6875rem;
  margin: 23px 0 0 8px;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/WhatsAppImage2024-01-26at9.29.43PM.jpeg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: 135%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-6 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/121509105_1812336502251029_3642362373691136019_n.jpg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: auto 135%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-3 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/194619886_385228702816447_4466470274706933781_n.jpg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: auto 135%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-10 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-3 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/326400848_1358713668274266_2776456316016204716_n.jpg");
  background-position: 50% 50%;
  --radius: 32px;
  background-size: 135%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 20px 0;
}

.u-section-3 .u-image-12 {
  width: 71px;
  height: 71px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 185px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -123px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 8px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -152px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 8px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -123px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 8px;
  }

  .u-section-3 .u-image-12 {
    margin-top: -152px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 592px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-image-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-image-10 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-image-12 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
    min-height: 1011px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 967px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-4 {
    margin-top: -20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-6 {
    margin-top: -20px;
  }

  .u-section-3 .u-image-7 {
    background-size: 135%;
  }

  .u-section-3 .u-image-8 {
    margin-top: -20px;
  }

  .u-section-3 .u-image-9 {
    background-size: 135%;
  }

  .u-section-3 .u-image-10 {
    margin-top: -20px;
  }

  .u-section-3 .u-image-12 {
    margin-top: -20px;
  }
}